@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --text-primary: #212529;
}

html[data-theme="dark"] { 
  --bg-primary: #121212; 
  --text-primary: #f8f9fa;

}

body {
  background-color: var(--bg-primary); 
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.header {
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
}
